<hr />
<header>
  <h1>ひようら</h1>
  <nav class="header-nav">
    <a href="/" class="<%= currentPage === "home" ? "active" : "" %>">ホーム/MAP</a>
    <a href="/shops" class="<%= currentPage === "shops" ? "active" : "" %>">お店一覧・追加</a>
  </nav>
</header>
