<!DOCTYPE hrml>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム - ひようらデータベース</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/_header") %>
    <main>
        <h2>ようこそ、ひようらデータベースへ！</h2>
        <p>このサイトでは、ひようらの店舗情報を管理できます。</p>
        <p>お店の一覧や地図を確認し、新しいお店を追加することができます。</p>
        <p>お店の詳細情報を確認するには、一覧からお店を選択してください。</p>
        <div id="map"></div>
    </main>
    <footer></footer>
</body>
</html>