<!-- src/views/partials/_header.ejs -->
<header class="site-header">
  <div class="container header-container">
    <div class="site-title">
      <a href="/">ひようらメモ帳</a>
    </div>
    <nav>
      <a href="/">ダッシュボード</a>
      <!-- 将来的にマップページへのリンクを追加 -->
      <a href="/map">マップ</a>
    </nav>
    <div>
      <a href="/logout" class="btn-logout">ログアウト</a>
    </div>
  </div>
</header>
